<h3 class="page-header">共感一覧</h3>
<ul class="list-group" >
  <ul class="list-group-item" >
    <h3>Happy</h3> <!--投稿が横並びになるように変更する-->
    <ul class="post-group">
      <% @post_happy.each do |empathy| %>
        <%=render "users/empathy", post: empathy.post %>
      <% end %>
    </ul>
  </ul>
  <ul class="list-group-item" >
    <h3>Sad</h3>
    <ul class="post-group">
      <% @post_sad.each do |empathy| %>
        <%=render "users/empathy", post: empathy.post %>
      <% end %>
    </ul>
  </ul>
  <ul class="list-group-item" >
    <h3>Love</h3>
    <ul class="post-group">
      <% @post_love.each do |empathy| %>
        <%=render "users/empathy", post: empathy.post %>
      <% end %>
    </ul>
  </ul>
  <ul class="list-group-item" >
    <h3>Anger</h3>
    <ul class="post-group">
      <% @post_anger.each do |empathy| %>
        <%=render "users/empathy", post: empathy.post %>
      <% end %>
    </ul>
  </ul>
</ul>