<nav class="navbar navbar-dark bg-dark" style="height: 70px;">
  <div class="navbar-logo">
    <%= image_tag 'logo.png',  size: '50x50' %>
    <% if logged_in? %>
      <%= link_to "museum-app", index_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "museum-app", root_path, class: "navbar-brand" %>
    <% end %>
  </div>
  <ul class="navbar-nav d-none d-lg-flex flex-row">
    <% if logged_in? %>
      <li><a class="btn btn-secondary headerbtn" href="/posts/new" role="button" >新規投稿</a></li>
      <li>
        <div class="dropdown headerbtn" id='dropdown'>
          <button type="button" class="btn btn-secondary dropdown-toggle headerbtn" data-bs-toggle="dropdown" aria-expanded="false">
            マイページ
          </button>
          <ul class="dropdown-menu " id='dropdown-menu'>
            <li><a class="dropdown-item" href="/users/mypage">自身の作品</a></li>
            <li><a class="dropdown-item" href="/users/empathy">共感一覧</a></li>
            <li><a class="dropdown-item" href="/posts/draft">下書き一覧</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="btn btn-secondary headerbtn">
          <%= button_to 'ログアウト', logout_path, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？", turbo_frame: '_top' } } ,class:"logoutbtn"%>
        </div>
      </li>
    <% else %>
      <div class="navbar-nav d-none d-lg-flex flex-row">
        <li><a class="btn btn-secondary headerbtn" href="/login" role="button" >ログイン</a></li>
        <li><a class="btn btn-secondary headerbtn" href="/users/new" role="button" >新規作成</a></li>
      </div>
    <% end %>
  </ul>
</nav>