<h3 class="page-header">下書き一覧</h3>
<ul class="list-group">
  <% post.each do |post| %>
  <li class="list-group-item">
    <span class="badge text-danger"><%= link_to "[削除]","#",method: :delete %></span>
    <div>
      <%= image_tag(post.image_url, width: 100) if post.image? %>
    </div>
    <div>
      <%= post.body %>
    </div>
  </li>
  <% end %>
</ul>