/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* postのindex */
.post-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.post-group-item {
  position: relative;
  list-style: none;
  width: calc(50% - 20px); 
  padding: 20px; 
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
}

.item-left,
.item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  height: 100%;
  width: 50%; 
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.frame-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  max-width: 70%;
  margin: 0;
  background: url("額縁.png") center/cover no-repeat;
}

.frame-inner-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content-image {
  width: 65%;
  position: absolute;
  object-fit: contain;
  top: 20%;
  left: 18%;
}

.title {
  width: 100%;
  display: left;
  justify-content: center;
}

.body {
  width: 100%;
  padding-right: 10px;
  flex: 1;
  overflow-wrap: break-word;
}

.button {
  margin-top: auto;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.footer li {
  margin: 0 10px;
}

.footer a {
  text-decoration: none;
  color: #333;
}


/*top_page*/

.content {
  width: calc(100vw / 3);
  height: 300px;
}

.wrap {
  overflow: hidden;
  display: flex;
  height: calc(100vh - (66px));
  margin-bottom: 0px;
}
.fixed-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white; /* You can adjust the color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2; /* Ensure the text is above the images */
}

.slideshow {
  display: flex;
  width: calc(100vw * 26 * 3);
  animation: loop-slide 100s infinite linear 1s both;
}

@keyframes loop-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(0.7) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}



/* post show */

.show {
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.show-group {
  list-style: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #ccc;
}

.show-item-left,
.show-item-right {
  list-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  width: 50%;
}

.show-title {
  width: 90%;
  font-size: 24px;
  text-align: center;
}

.show-body {
  width: 100%;
  height: 70%;
  padding-right: 10px;
  flex: 1;
  overflow-wrap: break-word;
}

.button {
  margin-top: auto;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

.show-image {
  list-style: none;
  position: relative; /* Add position property */
  width: 100%;
  justify-content: center;
  margin: 0;
}

.show-frame {
  position: relative;
  width: 100%;
  max-width: 70%;
  margin: 0;
}

.show-frame-inner {
  position: relative;
  width: 130%;
  overflow: hidden;
  z-index: 1; /* Adjust z-index */
}


.show-image-inner{
  width: 90%;
  position: absolute;
  object-fit: contain;
  top: 20%;
  left: 18%;
}
